{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'tasks/styles.css' %}" />
</head>

<body>
    <h1>Dashboard</h1>

    <h2>Task List</h2>
    <div>
        <a href="{% url 'showDashboard' %}?sort=-priority" class="sort-btn">Priority</a>
        <a href="{% url 'showDashboard' %}?sort=due_date" class="sort-btn">Due Date</a>
    </div>
    <ul>
        {% for task in task_list %}
        <li class="
            {% if task.priority == task.PRIORITY_LOW %}priority-low
            {% elif task.priority == task.PRIORITY_MEDIUM %}priority-medium
            {% elif task.priority == task.PRIORITY_HIGH %}priority-high
            {% elif task.priority == task.PRIORITY_CRITICAL %}priority-critical
            {% endif %}"

            data-title="{{ task.title }}" data-description="{{ task.description|default:'(No description provided)' }}"
            data-due="{{ task.due_date|date:'M d, Y H:i'|default:'No due date' }}"
            data-edit_url="{% url 'task_edit' task.pk %}" data-delete_url="{% url 'task_delete' task.pk %}"
            onclick="openModal(this)">
            {{ task.title }} — Priority {{ task.get_priority_display }}
        </li>
        {% empty %}
        <li>No tasks available.</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'task_create' %}" id="new_task_button">Add new task</a></p>

    <!-- The popup window for a task -->
    <div id="taskModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3 id="modalTitle"></h3>
            <p class="meta"><strong>Due Date:</strong> <span id="modalDue"></span></p>
            <p id="modalDescription"></p>

            <div class="task-actions">
                <a href="#" id="editButton">Edit</a>
                <a href="#" id="deleteButton">Delete</a>
            </div>
        </div>

        <script src="{% static 'tasks/scripts.js' %}"></script>
</body>

</html>